@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>@apiResponse</p>

@code {
    private string? apiResponse;
    private string? urlCalled;

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        try
        {
            apiResponse = await Http.GetStringAsync("PublicArea/Public");
            urlCalled = Http.BaseAddress?.ToString();
        }
        catch (Exception ex)
        {
            apiResponse = $"Error fetching data: {ex.Message}";
        }
    }
}
